* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Work Sans'; */
}

/* header style */
header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;

}

/* banner style */
.banner {
    text-align: right;
    padding-left: 700px;
    padding-right: 80px;
    padding-top: 216px;
}

.banner-title {
    font-weight: 750;
    font-size: 65px;
    margin-bottom: 10px;
    color: #151414;
}

.banner-detail {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}

/* button style */
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    margin-bottom: 166px;
}

/* about styles */

.about {
    display: flex;
    align-items: center;
    padding: 20px 130px;
    margin-top: 150px;
    margin-bottom: 150px;

}

.about-description {
    padding-left: 40px;
    padding-top: 50px;


}

.about-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.about-detail {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 10px;
}

/* checkbox style */
.input-checkbox {
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}

/* plan style */
.plan {
    padding: 20px 130px;
    margin-bottom: 120px;

}

.plans {
    display: flex;
    margin-top: 80px;
    gap: 40px;
    
}

.plan-head {
    font-weight: 700;
    font-size: 40px;
    text-align: center;

}

.plant-detail {
    text-align: center;

}

.plan-title {
    font-weight: 600;
    font-size: 28px;
    color: #151414;

}

.plan-description {
    font-weight: 400;
    font-size: 25px;
    color: #737272;

}

/* positive style */
.positive {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    padding: 30px 80px;
    margin-bottom: 130px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;

}

.positive-title {
    font-weight: 700;
    width: 50%;
    font-size: 40px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* button white style */
.btn-white {
    font-weight: 600;
    font-size: 15px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 80px;

}

/* extra style */
.extra{
    margin-bottom: 80px;
    padding: 30px 80px;
    padding-left: 80px;
    margin-top: 80px;

}

.extra-detail{
    margin-top: 30px;
    margin-bottom: 100px;

}
/* footer style */
.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    background: #151414;
    color: #F8F8F8;
    padding: 50px;
}

/* future style */

.future {
    padding-left: 80px;
    width: 50%;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;

}

.future-about {
    font-weight: 400;
    font-size: 16px;
    width: 75%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.future-email {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.future-phone {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.future img {
    padding-right: 10px;

}

/* subscribe style */
.subscribe {
    margin-left: 40px;

}

.subscribe-title {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 30px;

}

.subscribe-input {
    font-weight: 400;
    font-size: 15px;
    background: #151414;
    color: #F3F3F3;
    padding: 10px 30px;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    margin-bottom: 10px;
}

